<template>
<div>
    <!-- title -->
    <h1 :class="selected ? 'text-sm pt-2' : 'text-xl pt-0.5 font-bold'">
        {{$t('form.form.product.brand.quelle_est_la_marque_du_produit')}}
    </h1>
    <!-- Card -->
    <sav-fold-card v-model="open" class="mt-4" :close-button="false" :id="$options.name">
        <!-- Close card -->
        <template v-slot:close>
            <div class="font-bold" v-if="selected">
                <!-- Selected brand -->
                <div class="flex items-center">
                    <img class="h-6 mr-2" v-if="selected.img" :src="selected.img"> {{selected.label}}
                </div>
            </div>
        </template>
        <!-- Open card -->
        <template v-slot:open>
            <!-- Input to type brand -->
            <input
            type="text"
            class="mb-3 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-gray-400 focus:border-gray-400 block w-full p-2.5"
            :placeholder="$t('form.form.product.brand.rechercher_une_marque')"
            v-model="brand"
            @input="brand = $event.target.value"
            >
            
            <!-- Loader -->
            <sav-spinner class="mb-3" v-if="loading" :size="10" />
            
            <!-- Display results -->
            <template v-if="data">
                <div
                v-for="item in data"
                :key="item.id"
                class="relative flex flex-col min-w-0 rounded break-words border bg-white border-1 border-gray-300 hover:border-gray-350 cursor-pointer duration-200 hover:bg-gray-50 hover:shadow my-rounded mb-3"
                @click="end(item)"
                >
                    <div class="flex p-6 items-center no-gutters">
                        <div class="mr-2">
                            <img style="height: 40px" v-lazy="imgSource(item)">
                        </div>
                        <h5 v-if="!item.hideLabel" class="capitalize mb-0">{{ item.label || '-' }}</h5>
                    </div>
                </div>
                <div v-if="data.length <= 0" class="relative flex flex-col min-w-0 rounded break-words border bg-white border-1 border-gray-300 my-rounded mb-3 px-5 py-4 font-light text-gray-400">
                    {{$t('form.form.product.brand.aucun_resultat')}}
                </div>
            </template>

            <!-- Request modal -->
            <modal :name="'request-' + requestModalParams.libelle">
                <sav-request-modal
                :displayName="requestModalParams.label"
                :libelle="requestModalParams.libelle"
                @close="hideRequestModal"
                />
            </modal>

            <!-- Button display request modal -->
            <button @click="displayRequestModal" class="block ml-auto mt-4 text-gray-900 font-light border border-gray-200 p-1.5 px-3 text-xs rounded-xl hover:bg-gray-100 duration-200">
                <i class="fa-solid fa-circle-question mr-0.5"></i> {{requestModalParams.label}} {{$t('form.form.product.brand.introuvable')}}
            </button>
        </template>
    </sav-fold-card>
</div>
</template>

<script>
import apiService from '@/services/api.service'
import FormCardExtension from '@/extends/FormCardExtension'

export default {
    name: 'brand',
    extends: FormCardExtension,

    watch: {
        brand: function(value) {
            this.findBrand()
        }
    },

    data() {
        return {
            brand: null,
            timerSearch: null
        }
    },

    methods: {
        init() {
            // Display loader
            this.loading = true

            // Check if data is already selected
            if (this.$formTool.getFormData(this.$options.name)) {
                this.selected = JSON.parse(JSON.stringify(this.$formTool.getFormData(this.$options.name)))
                this.nextBlock = this.$formTool.blockData(this.$options.name).next
            }

            // Configure Modal Requests
            this.requestModalParams = {
                label: this.$t('form.form.product.brand.marque'),
                libelle: 'marque'
            }

            // Hide loader
            this.loading = false
        },

        end(callbackData) {
            // Add data in local storage
            this.$formTool.addFormData(this.$options.name, callbackData)
            
            // Define next block in form
            this.nextBlock = this.$formTool.blockData(this.$options.name).next

            // If data already selected, emit that is an update
            if (this.selected) {
                this.$emit('update', this.$options.name)
            }

            // Set selected data
            this.selected = JSON.parse(JSON.stringify(callbackData))
        },

        findBrand() {
            // Get api data
            if (this.brand.length < 2) {
                this.data = null
                return
            }

            // Display loader
            this.loading = true

            // Clear timer to limit the number of requests sent
            window.clearTimeout(this.timerSearch)
            
            // Wait 500ms before send request
            this.timerSearch = setTimeout(async () => {
                // Init data variable by default
                this.data = null

                // Send request
                let response = await apiService.post('getbrand', {
                    marque: this.brand
                })

                // Set data
                this.data = this.$imgGridTool.convert('marque', 'img', [...response.data.posts.post])

                // Hide loader
                this.loading = false
            }, 500)
        },

        imgSource(item) {
            return item.img ? item.img : './../../../../assets/img/img-broken.png'
        }
    },

    mounted() {
        this.init()
    }
}
</script>
