<template>
    <div></div>
</template>

<script>
import moment from 'moment'
import SavRequestModal from '@/components/SavRequestModal'

export default {
    components: {SavRequestModal},

    watch: {
        // Open card
        open: function(value) {
            // Can't open card when the form is cleaned
            if (value === true && !localStorage['form-data']) {
                this.$nextTick(() => {
                    this.open = false
                })
            }
        },
        selected: {
            deep: true,
            handler: function(value) {
                // When selected is set, emit change block
                this.emitChange()
            }
        }
    },

    data() {
        return {
            loading: false,
            data: null,
            selected: null,
            open: true,
            nextBlock: null,
            requestModalParams: {
                label: null,
                libelle: null
            }
        }
    },

    filters: {
        momentDate(date) {
            return moment(date).format('DD/MM/YYYY');
        },

        momentWithHour(date) {
            return moment(date).format('DD/MM/YYYY à hh:mm');
        }
    },

    methods: {
        emitChange() {
            // Close card
            this.open = false
            // Emit to add next block in block
            this.$emit('next', {current: this.$formTool.blockData(this.$options.name), next: this.$formTool.blockData(this.nextBlock)})
        },

        displayRequestModal() {
            if (this.requestModalParams.label && this.requestModalParams.libelle) {
                // Send event to display modal
                this.$modal.show('request-' + this.requestModalParams.libelle)
            }
        },
        hideRequestModal() {
            if (this.requestModalParams.libelle) {
                // Send event to hide modal
                this.$modal.hide('request-' + this.requestModalParams.libelle)
            }
        }
    }
}
</script>
