<template>
    <div>
        <!-- Modal overlay -->
        <div @click="display = false" v-if="display" class="flex justify-center items-center z-50 bg-black bg-opacity-70 fixed top-0 bottom-0 left-0 right-0">
            <!-- Modal window -->
            <div @click.stop="display = true" class="bg-white p-12 rounded-xl w-full xl:w-1/2 lg:w-2/3" style="max-height: 90vh; overflow-y: auto;">
                <!-- Modal content -->
                <slot></slot>
            </div>
        </div>
    </div>
</template>

<script>
import eventHub from '@/eventHub'

export default {
    props: {
        name: {
            required: true
        }
    },
    data() {
        return {
            display: false
        }
    },

    methods: {
        displayModal() {
            this.display = true
        }
    },

    mounted() {
        // On display event, display modal
        eventHub.$on('display-modal', (name) => {
            if (name == this.name) {
                this.display = true
            }
        })

        // On hide event, hide modal
        eventHub.$on('hide-modal', (name) => {
            if (name == this.name) {
                this.display = false
            }
        })
    }
}
</script>

<style lang="scss" scoped>

</style>
