<template>
    <div>
        <!-- Modal title -->
        <h1 class="text-lg font-bold">{{displayName | capitalizeFirstLetter}} introuvable</h1>

        <!-- Input data -->
        <sav-input
        type="text"
        class="my-3"
        placeholder="Que cherchez-vous ?"
        rows="5"
        v-model="requestComment"
        />

        <!-- Button to send data -->
        <button :disabled="loadingRequest" @click="sendRequestForm()" class="bg-green-500 hover:bg-green-600 text-sm text-white font-light p-2 px-4 rounded-xl duration-200">
            <i class="fa-solid fa-check mr-0.5"></i> Envoyer
        </button>
        <!-- Button to hide modal -->
        <button :disabled="loadingRequest" @click="$emit('close')" class="bg-gray-300 hover:bg-gray-400 text-sm font-light p-2 px-4 rounded-xl duration-200">
            <i class="fa-solid fa-times mr-0.5"></i> Annuler
        </button>
    </div>
</template>

<script>
import apiService from '@/services/api.service'

export default {
    props: {
        displayName: {
            type: String,
            required: true
        },
        libelle: {
            type: String,
            required: true
        }
    },

    data() {
        return {
            requestComment: null,
            loadingRequest: false
        }
    },

    filters: {
        capitalizeFirstLetter(string) {
            return string.charAt(0).toUpperCase() + string.slice(1);
        }
    },

    methods: {
        async sendRequestForm() {
            // Display loader
            this.loadingRequest = true
            // Send data
            let response = await apiService.post('no_ref', {
                comment: this.requestComment,
                libelle: this.libelle
            })

            // If data saved, hide modal and go to the home page
            if (response.data && response.data.posts.post == '1') {
                this.$toast.success('Nous faisons le nécessaire pour mettre à jour nos informations')
                localStorage.removeItem('form-data')
                this.$router.push({name: 'home'})
            }

            // Hide loader
            this.loadingRequest = false
        },
    }
}
</script>
